header form{
    margin-left: 270px;
}

header h3{
    color: WHITE;
    margin-left: 570px;
}

.container h1 {
    color: white;
}

.row {
    background-color: black;
}
.card-body {
    background-color: black;
}